*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


.subtitulo{

    text-align: center;
    font-size: bold;
    font-size: 2.1em;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 3px 5px 3px 4px;


}

.Img1{

    float: left;
    margin: 2% 3% 2% 5%;

}

.Img2{

    float: right;
    margin: 2% 5% 2% 3%;
    
}


#container{

    display: table;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;

}

.nav{

    background-color: rgb(195, 196, 196);
    color:darkcyan;
    display: table;
    width: 100%;
}

.nav ol{
    display: flex;
}

.nav ol li{
list-style: none;
}

.nav ol li a{

    text-decoration: none;
    padding: 15px 10px 15px 10px;
    display: table;
    color: rgb(0, 0, 0);
}

.nav li:hover {
    display: inline-block;
    background-color:#7a9292;
    transition: 0.3s ease;
  }

/* Menú Responsivo */

input[type=checkbox]{
    display: none;
}

.hamburguesa{
    display: none;
    user-select: none;
    padding: 15px;
}




#header {
    display: table;
    width: 100%;
    height: 400px;
    background-color: beige;
    background-image: url("../img/wayne-yao-uhS2I9sZMeg-unsplash.jpg") ;
    
    background-size: cover;
}

#header h2{

    text-align: center;
    vertical-align: middle;
    line-height: 400px;
    font-size: 3em;

}

#footer{

    display: table;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color:rgb(25, 29, 72);
    text-align: center;
    padding-top: 2%;
    font-weight: 700;
    padding-bottom: 5%;
}

#Primeros-Años{

    display: table;
    width: 100%;
    height: 100%;
    color: black;
    background-color: antiquewhite;
}

h3{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

p{

    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 1.5em;

}

#Criptografia{

    display: table;
    width: 100%;
    height: 100%;
    color: black;
    background-color: antiquewhite;
}

#Informatica{

    display: table;
    width: 100%;
    height: 100%;
    color: black;
    background-color: antiquewhite;
}

#Premios{

    display: table;
    width: 100%;
    height: 100%;
    color: black;
    background-color:antiquewhite;
}

@media (max-width: 600px) {
    
    .nav{
        display: none;
        right: 0;
        left: 0;
        text-align: center;
        position: absolute;
        background-color: rgb(195, 196, 196);
        padding: 16px 0;
        margin-bottom: 300px;

    }

    .nav li:hover {
        display: inline-block;
        background-color:#7a9292;
        transition: 0.3s ease;
      }
    
    .nav li + li {
        margin-top: 12px;
    }

    .subtitulo{

        text-align: center;
        font-size: bold;
        font-size: 2.1em;
        margin-bottom: 50px;
        margin-top: 150px;
        padding: 3px 5px 3px 4px;
    
    
    }

    .hamburguesa{
        display: block;
    }

    input[type="checkbox"]:checked ~ .nav{
        display:block;
    }
    
}